.bannerImage {
    height: auto;
    width: 100%;
  }
  
  .homeTitle {
    margin: auto;
  }
  
  .underLine {
    height: 3px;
    width: 100px;
    background-color: #007bff;
    margin: auto;
  }
  
  .underLine1 {
    height: 3px;
    width: 200px;
    background-color: #007bff;
    margin: auto;
  }

  .not-found-container {
  text-align: center;
  padding: 20px;
}

/* Responsive styles for small screens (max-width: 600px) */
@media (max-width: 600px) {
  .not-found-container {
    padding: 10px;
  }
}