.bannerImage {
    height: auto;
    width: 100%;
  }
  
  .homeTitle {
    margin: auto;
  }
  
  .underLine {
    height: 3px;
    width: 100px;
    background-color: #007bff;
    margin: auto;
  }
  